<mat-accordion>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [id]="name">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{texto}}
      </mat-panel-title>
      <mat-panel-description>
        Currently I am {{panelOpenState ? 'open' : 'closed'}}
        Descripcion del collapsable
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>ELEMENTOS QUE COMPONEN EL CUERPO DEL COLLAPSABLE</p>
    
    <!-- <ng-container  *ngIf="elementosGrupo.length"> -->
      <div  *ngFor="let elemento of elementosGrupo; let i=index">
        <kc-dynamic  [componentData]="elemento" [formulario]="form"></kc-dynamic>
      </div>
    <!-- </ng-container> -->
    
    
  </mat-expansion-panel>
</mat-accordion>