<p>formulario works!</p>
<!-- <kc-elemento-formulario></kc-elemento-formulario> -->


<h1>nueva implementacion</h1>

<!-- <kc-dynamic [componentData]="dataElemento"></kc-dynamic> -->

<form (ngSubmit)="onSubmit()" [formGroup]="form">


    <div *ngFor="let elemento of elementosFormulario; let i=index">
        <kc-dynamic [componentData]="elemento" [formulario]="form"></kc-dynamic>
    </div>

    <div class="form-row">
        <strong>Los valores que se encuentran son:</strong><br>{{formData}}
    </div>
    <div class="form-row">
        <strong>Form status:</strong><br>{{form.status}}
    </div>
    <div class="form-row">
        <button type="submit" [disabled]="!form.valid">Save</button>
    </div>
</form>
